<table class="table">
    <thead>
        <tr>
            <th>Arac Adı</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Günlük Fiyat</th>
            <th>Model Yılı</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carDetail of carDetails">
            <td>{{carDetail.carName}}</td>
            <td>{{carDetail.brandName}}</td>
            <td>{{carDetail.colorName}}</td>
            <td>{{carDetail.dailyPrice}}</td>
            <td>{{carDetail.modelYear}}</td>
        </tr>
    </tbody>
  </table> 